<!DOCTYPE html>

<html>
    <head>
        <title>HMS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js">
        </script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
        <link type="text/css" rel="stylesheet" href="/static/css/index.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
    {{if .Message }}
        <p class="bg-primary">
            {{.Message}}
        </p>
    {{end}}
    {{if .CreatedURL }}
        <p class="bg-primary">
        Short link created at: <a href="//{{.CreatedURL}}">{{.CreatedURL}}</a>
        </p>
    {{end}}

    <form action="/" method="POST" style="margin-bottom: 20px;">
        <h1>
            hms.space/
            <input type="text" name="path" placeholder="Path (optional)" value="{{.Path}}"/>
        </h1>
        <h2>
            =>
            <input placeholder="Target URL" type="text" name="target" value="{{.TargetURL}}"/>
        </h2>
        <input type="submit" value="Go!" />
    </form>
    {{if .PastLinks}}
    <table class="table table-striped" style="width: 1100px; margin: auto">
        <thead>
            <th>
                Short URL:
            </th>
            <th>
                Goes to:
            </th>
            <th>
                Creator:
            </th>
            <th>
                Created:
            </th>
        </thead>
        {{range .PastLinks}}
            <tr>
                <td>
                    <a href="//{{$.Host}}/{{.Path}}">{{$.Host}}/{{.Path}}</a>
                </td>
                <td>
                    <a href="{{.TargetURL}}">{{.TargetURL}}</a>
                </td>
                <td>
                    {{.Creator}}
                <td>
                    {{.FormatCreated}}
                </td>
            </tr>
        {{end}}
    </table>
    {{end}}
    </body>
</html>
