body {
    text-align: center;
}

p.bg-primary {
    padding:15px;
    font-size:150%;
}

.bg-primary a:link,.bg-primary a:visited{
    color: white !important;
    text-decoration: underline;
}

td {
    max-width: 730px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
